h2 {
    color: rgb(119, 2, 2);
     border-color:black;  
     text-align: center;
     place-items: center;
}


 p {
    color: rgb(0, 0, 0);
    border-color:black; 
    text-shadow: rgb(218, 218, 218) 1px 0 10px;
    text-align: center;
    place-items: center;
} 


li {
    color: rgb(0, 0, 0);
    border-color:black; 
    text-shadow: rgb(218, 218, 218) 1px 0 10px;
    text-align: center;
    place-items: center;
}

.puppy{
    background-color: cornflowerblue;
    float: left;
    width: 300px;
    height: 300px;
    border: 10px solid gray; 
    display:block
}
